html, body {
    height:100%
}

.main-container {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    height: 100%;
    padding: 50px;
}

h1 {
    text-align: center;
    font-family: 'Molle', cursive;
    font-size: 60px; 
    font-weight: bold;
    margin-bottom: 60px;
    color: white;
}

button {
    display: block;
    position: absolute;
    bottom: -50px;
    right: 0;
    height: 30px;
    width: 80px;
    background: white;
    border: 1px solid white;
    border-radius: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.75em;
    cursor: pointer; 
    color: rgb(109, 109, 109);
}

button:focus {
    outline: none;
    border: none;
}

button:hover {
    background-color: #f0f0f0;
    border: 1px solid #f0f0f0;
}

.sketchbox {
    display: grid;
    background-color: black;
    border: 0px;
    border-radius: 5px;
}

.outter-container {
    position: relative;
    height: 550px;
    width: 550px;
    margin: 0 auto;
    border: 3px solid black;
    border-radius: 5px;
}

.item {
    background-color: white;
    width: 100%;
    padding-top: 100%;
}